{% extends 'base.html' %}

{% block content %}
<h1>New Event</h1>

<form method="POST">
    <p>
        {{ form.title.label }} <br>
        {{ form.title(class="title-input") }}
    </p>
    <p>
        {{ form.description.label }} <br>
        {{ form.description(class="description-input") }}
    </p>
    {% if error %}
    <p class="error">Error: {{ error }}</p>
    {% endif %}
    <p>
        {{ form.date.label }} 
        <br>
        {{ form.date(type="date") }} <!-- set the type to "date" -->
        <br>
        {{ form.time.label }} 
        <br>
        {{ form.time(type="time") }}
    </p>
    <p>
    {{ form.submit }}
    </p>
</form>

{% endblock %}
